<section class="our-projects" id="projects">
    <div class="container">
        <div class="row mb-5">
            <div class="col-sm-12">
                <div class="d-sm-flex justify-content-between align-items-center mb-2">
                    <h3 class="font-weight-medium text-white ">Let's See Our Latest Project</h3>
                    <div class="cta-cta">
                        <a class="button button-primary button-wide-mobile btn-hover" href="#">View more</a>
                    </div>
                    <!-- <div><a href="#" class="btn btn-outline-primary">View more</a></div> -->
                </div>
            </div>
        </div>
    </div>
    <div class="mb-5" data-aos="fade-up">
        <div class="owl-carousel-projects owl-carousel owl-theme">
            <div class="item">
                <img src="assets/dist3/images/carousel/slider1.jpg" alt="slider">
            </div>
            <div class="item">
                <img src="assets/dist3/images/carousel/slider2.jpg" alt="slider">
            </div>
            <div class="item">
                <img src="assets/dist3/images/carousel/slider3.jpg" alt="slider">
            </div>
            <div class="item">
                <img src="assets/dist3/images/carousel/slider4.jpg" alt="slider">
            </div>
            <div class="item">
                <img src="assets/dist3/images/carousel/slider5.jpg" alt="slider">
            </div>
            <div class="item">
                <img src="assets/dist3/images/carousel/slider1.jpg" alt="slider">
            </div>
            <div class="item">
                <img src="assets/dist3/images/carousel/slider2.jpg" alt="slider">
            </div>
            <div class="item">
                <img src="assets/dist3/images/carousel/slider3.jpg" alt="slider">
            </div>
            <div class="item">
                <img src="assets/dist3/images/carousel/slider4.jpg" alt="slider">
            </div>
            <div class="item">
                <img src="assets/dist3/images/carousel/slider5.jpg" alt="slider">
            </div>
            <div class="item">
                <img src="assets/dist3/images/carousel/slider1.jpg" alt="slider">
            </div>
            <div class="item">
                <img src="assets/dist3/images/carousel/slider2.jpg" alt="slider">
            </div>
            <div class="item">
                <img src="assets/dist3/images/carousel/slider3.jpg" alt="slider">
            </div>
            <div class="item">
                <img src="assets/dist3/images/carousel/slider4.jpg" alt="slider">
            </div>
            <div class="item">
                <img src="assets/dist3/images/carousel/slider5.jpg" alt="slider">
            </div>
        </div>
    </div>

</section>