<section class="our-projects" id="projects">
    <div class="container">
        <div class="row mb-5">
            <div class="col-sm-12">
                <div class="d-sm-flex justify-content-between align-items-center mb-2">
                    <h1 class="font-weight-medium my-title">Equipo</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="mb-5" data-aos="fade-up">
        <div class="owl-carousel-projects owl-carousel owl-theme">
            <div class="item">
                <img src="../../../assets/img/carusel1.png" alt="slider">
            </div>
            <div class="item">
                <img src="../../../assets/img/carusel1.png" alt="slider">
            </div>
            <div class="item">
                <img src="../../../assets/img/carusel1.png" alt="slider">
            </div>
            <div class="item">
                <img src="../../../assets/img/carusel1.png" alt="slider">
            </div>
            <div class="item">
                <img src="../../../assets/img/carusel1.png" alt="slider">
            </div>
            <div class="item">
                <img src="../../../assets/img/carusel1.png" alt="slider">
            </div>
            <div class="item">
                <img src="../../../assets/img/carusel1.png" alt="slider">
            </div>
            <div class="item">
                <img src="../../../assets/img/carusel1.png" alt="slider">
            </div>
            <div class="item">
                <img src="../../../assets/img/carusel1.png" alt="slider">
            </div>
            <div class="item">
                <img src="../../../assets/img/carusel1.png" alt="slider">
            </div>
            <div class="item">
                <img src="../../../assets/img/carusel1.png" alt="slider">
            </div>
            <div class="item">
                <img src="../../../assets/img/carusel1.png" alt="slider">
            </div>
            <div class="item">
                <img src="../../../assets/img/carusel1.png" alt="slider">
            </div>
            <div class="item">
                <img src="../../../assets/img/carusel1.png" alt="slider">
            </div>
            <div class="item">
                <img src="../../../assets/img/carusel1.png" alt="slider">
            </div>
        </div>
    </div>

</section>