<div class="yeo-team" id="team">
    <div class="container yeo-body">
        <div class="columns">
            <div class="column col-12">
                <h2 class="feature-title">Meet Our Team</h2>
            </div>
            <div class="column col-4 col-sm-12">
                <a href=""><img class="s-circle" src="../../../assets/dist2/images/team-1.jpg" alt=""></a>
                <a href="https://www.lapa.ninja/"><span class="name">John Doe</span></a>
                <span class="title">DevOps</span>
            </div>
            <div class="column col-4 col-sm-12">
                <a href=""><img class="s-circle" src="../../../assets/dist2/images/team-2.jpg" alt=""></a>
                <a href="https://www.lapa.ninja/"><span class="name">Tinh Nguyen</span></a>
                <span class="title">Designer</span>
            </div>
            <div class="column col-4 col-sm-12">
                <a href=""><img class="s-circle" src="../../../assets/dist2/images/team-3.jpg" alt=""></a>
                <a href="https://www.lapa.ninja/"><span class="name">Maria Oto</span></a>
                <span class="title">Developer</span>
            </div>
        </div>
    </div>
</div>