/* You can add global styles to this file, and also import other style files */
/* @import url('/assets/Poppins/Poppins-Bold.ttf'); */

@font-face {
  font-family: "titulos";
  src: url("/assets/fonts/Poppins/Poppins-Black.ttf");
}

/* *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
} */
/* 
body{
    background-image: url("/assets/img1/crypto1-min.jpg");
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    font-family: 'titulos';
    font-weight: 600;
    font-size: 16px;
} */

.btn-hover:hover {
  background: #ff96ad !important;
  box-shadow: 0 0 5px #ff96ad, 0 0 25px #ff96ad, 0 0 50px #ff96ad, 0 0 200px #ff96ad !important;
  color: #030518 !important;
}

section {
  padding: 120px 0 0 0;
  background: transparent !important;
  color: #fff;
}

body {
  background-image: url("/assets/img/background.jpg") !important;
  background-repeat: repeat-y !important;
  background-attachment: fixed !important;
}

h1 {
  font-family: "Cinzel Decorative", bold;
  color: rgb(211, 148, 65) !important;
}
h2 {
  font-family: "Cinzel Decorative", bold;
  color: rgb(211, 148, 65) !important;
}
