.btn-hover:hover {
  background: #ff96ad !important;
  box-shadow: 0 0 5px #ff96ad, 0 0 25px #ff96ad, 0 0 50px #ff96ad, 0 0 200px #ff96ad !important;
  color: #030518 !important;
}

.my-title {
  margin-top: 6%;
  font-size: 4vh;
  color: #d39441 !important;
}

.rounded-circle {
  margin-left: auto;
  margin-right: auto;
}

.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}