<main>
    <section class="hero text-center text-light">
        <div class="hero-particles-container">
            <canvas id="hero-particles"></canvas>
        </div>
        <div class="container-sm">
            <div class="hero-inner" style="margin-top: 13vh;">
                <div class="hero-copy">
                    <div class="row"
                        style="justify-content: center; align-items: center; text-align: center; display:flex;">
                        <img class="device-mockup" src="/assets/img/logo.png" alt="Logo de Quantum" style="width: 60%;">
                    </div>

                    <div class="hero-cta row">
                        <h1 class="my-title">
                            Quantum Metaverse pretende ser el primer centro de ocio, arte, divulgación y ciencia sobre
                            la
                            historia de la vida de la humanidad desde el metaverso.
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="features-extended section">
        <div class="features-extended-inner section-inner">
            <div class="features-extended-wrap">
                <div class="container-fluid">
                    <div class="mockup-bg">
                        <div class="row"
                            style="justify-content: center; align-items: center; text-align: center; display:flex;">
                            <div class="col-12">
                                <video width="70%" controls>
                                    <source src="/assets/video/video.mp4" type="video/mp4">
                                </video>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


</main>